@font-face {
	font-family: 'SF Compact Display'; 
	src: url(../assets/font/sf-compact-display-medium-5864711817c30.otf); 
}

%font-key {
	font-family: 'SF Compact Display', sans-serif;
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}

%font-control {
	font-family: 'SF Compact Display', sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
